@import "tailwindcss";

@theme {
  --color-brand-primary: #B6533C;
  --color-brand-accent: #C6A15B;
  --color-brand-background: #F8F3EA;
  --color-brand-text: #252321;
  --color-brand-sand: #E7D8C5;

  --font-heading: var(--font-dm-serif);
  --font-body: var(--font-manrope);
}

:root {
  --background: #F8F3EA;
  --foreground: #252321;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}